<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>
  </head>

<body>
  <h1>Welcome to the Chatbot!</h1>

  <form id="form">
    <label>Enter your prompt below:</label>
    <textarea id="prompt" name="prompt"></textarea>
    <div class="buttons">
      <button id="ask-chatbot">Ask ChatBot</button>
      <button id="stop" class="hidden">Stop</button>
    </div>
  </form>

  <div id="response"></div>


  <script src="/javascripts/chatbot.js"></script>
</body>

</html>