<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

<body>
  <p>{{title}} is {{story}}</p>

  <form id="form">
    <label>Prompt:</label>
    <textarea id="prompt" name="prompt"></textarea>
    <button type="submit">Ask ChatBot</button>
  </form>
  <button id="stop">Stop</button>

  <div id="response"></div>


  <script src="/javascripts/chatbot.js"></script>
</body>

</html>