body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form {
  display: block;
  width: 400px;
  max-width: 100%;
}

a {
  color: #00B7FF;
}

label {
  display: block;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  margin: 10px 0;
  display: block;
  border: 1px solid blue;
  border-radius: 5px;
}

button {
  display: block;
  background: white;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

#response {
  white-space: pre-line;
}